.react-flow__attribution {
  display: none;
}



.text-editable {
  @apply dark:group-hover:bg-background group-hover:bg-slate-100 group-hover:ring-[0.5px] group-hover:ring-primary dark:group-hover:ring-divider rounded-sm cursor-pointer;
}


.react-flow__node.selected {
  transition: box-shadow 0.3s ease;
  /* Add transition */
  /* box-shadow: 0px 0px 15px 0px hsl(var(--heroui-secondary-50)), 0px 2px 30px 0px hsl(var(--heroui-secondary-50)), 0px 0px 1px 0px hsl(var(--heroui-secondary-50));
*/
}

.noselect {
  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
}


html,
body {

  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;

}

.react-flow__renderer {
  cursor: default !important;
  /* or pointer, grab, etc. */
}

.sidebar-item[data-active="true"] svg {
  color: hsl(var(--heroui-primary));

}

div[data-slot="input-wrapper"] {
  outline: none;
  border-width: 1px;

}

div[data-slot="mainWrapper"] button[data-slot="trigger"] {

  outline: none;
  border-width: 1px;
}


div[data-slot="content"] hr[role="separator"] {
  display: none;
}



@keyframes dash {
  to {
    stroke-dashoffset: -10;
  }
}



/* Target the scrollbar */
::-webkit-scrollbar {
  width: 6px;
  /* Width of the scrollbar */

}

/* Track (background of the scrollbar) */


/* Handle (the scroll thumb) */
::-webkit-scrollbar-thumb {
  background: hsl(var(--heroui-scrollbar));
  /* Darker gray */
  border-radius: 6px;
  /* Rounded corners */

}



/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

  background: hsl(var(--heroui-scrollbar-hover));
  /* Darker on hover */
}



.react-flow__node {
  cursor: grab !important;
}

.react-flow__node:active {
  cursor: grabbing !important;
}

.react-flow__pane {
  cursor: default !important;
}

svg.text-icon:hover {

  color: #333639
}



.dark .bg-background-50 {
  background-color: red !important;
}


.database-checkbox[data-selected="true"] {
  border: 1.5px solid hsl(var(--heroui-primary-300));
}



thead[role="rowgroup"] th {
  border-radius: 0px !important;

}

thead[role="rowgroup"] th:last-child {
  border-radius: 0px 4px 4px 0px !important;

}

thead[role="rowgroup"] th:first-child {
  border-radius: 4px 0px 0px 4px !important;

}




tbody[role="rowgroup"] tr td::before {

  display: none;
}


tbody[role="rowgroup"] tr td {
  border-radius: 0px;
}


tbody[role="rowgroup"] tr td:last-child {
  border-radius: 0px 4px 4px 0px !important;

}

tbody[role="rowgroup"] tr td:first-child {
  border-radius: 4px 0px 0px 4px !important;

}

.cm-editor  {
  
  min-width : 100% !important ; 
}